<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">REDDIT Mongo News App</h1>
    <p class="lead blog-description">The Official UnOfficial Reddit App!</p>
  </div>


  <div class="row">
    <div class="blog-main">
      <ol id="results"></ol>
    </div>
  </div>

</div>
