<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="blog-nav-item" href="/saved">Saved Articles</a>
    </nav>
  </div>
</div>
